body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom right, #073376, #1677f1);
  min-height: 100vh;
  height: 100%;
}

.col-sm-4 {
  background: #DADCDF;
  min-height: 100vh;
  height: 100%;
}

.col-sm-8 {
  color: #DADCDF; 
  padding: 1.5em 1.5em;
}

.btn.outline {
   background: none;
   padding: 12px 22px;	
}

.btn-primary.outline {
  border: 2px solid #DADCDF;
  color: #DADCDF;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
   color: #073376;
   border-color: #DADCDF;
   background: #559BF4;
}

.btn-primary.outline:active, .btn-primary.outline.active {
   border-color: #559BF4;
   color: #559BF4;
   box-shadow: none;
}
